<div class ="row justify-content-md-center">
		<div class ="col-md-2">	</div>
		<div class ="col-md-8">
	<nav class="navbar navbar-light bg-white" style="">
	<div class="container">
    
	 <a class="navbar-brand" href="/">STANDINGS</a>
	
	 <a class="navbar-brand" href="/add/">ADD MATCH</a>
	 
	 <a class="navbar-brand" href="/match_predictor/">MATCH PREDICTOR</a>
	  <a class="navbar-brand" href="/matches/">MATCHES</a>
	 <a class="navbar-brand" href="/clubs/">CLUBS</a>
 </div>
</nav>
		<!-- <h1 style ="color: #5d6263">{{ curr_player.name }}</h1> -->
		</div>
		<div class ="col-md-2">
			
		</div>
</div>


<br>
