<head>
	<title>
		P.M.L
	</title>

	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<style>
body {
/* background-image: url("https://img.uefa.com/imgml/uefacom/ucl/2018/footer.jpg");*/
 /*background-color: #2e3c54; */
}
</style>
</head>

<body>
	{% include "pes/includes/messages.html" %}
	{% include "pes/includes/navbar.html" %}

<br>
<br>
	<h1 class="center " style ="color: #5d6263">  PES MASTER LEAUGE</h1>
<br>
<br>	
	<div class ='container'>
	   
		{% include "pes/includes/table.html" %}
	
		
	   </div>	
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class ="center">
	<!-- <a href="/add"  class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"> +</i></a>
	<p >ADD MATCH</p> -->
	<h5>RECENT MATCHES</h5>
	</div>
	
	
		<!-- <div class ="col s12 m4 l1"></div> -->
		

	<div class="row ">
		{% for match in matches %}

			
				<!-- <div class ="col"></div>	 -->
				<div class ="col-6">	
				    <div class="card text-white bg-secondary mb-3 text-center">
				      <div class="card-body">
				        
				          <span class="card-title">Match id:{{match.id}} PML SEASON :2 </span>
				          <h3 class ="center card-text"> {{match.player1.name}} VS {{match.player2.name}}</h3>
				          <h3 class ="center card-text"> {{match.GS_by_1}} - {{match.GS_by_2}}</h3>
				       
				       <!--  <div class="card-action">
				          <a href="/edit" class="btn btn-primary">Edit Match</a>
				          
				        </div> -->
				      </div>
				    </div>

				</div>
				<!-- <div class ="col"></div> -->
			
		  
	{%  endfor %}
	</div>	  

	<!-- <button class =" black"><a href="/matches" class="white-text">ALL MATCHES</a></button> -->



</body>