
 {% load static %}
 <head>
 	<title>
 		{{ title }}
 	</title>
 	<style >
 		
		 body {
		 background-color: ;

		}
	</style>	
	<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

 </head>
<body class="bg-light">
  {% include "pes/includes/navbar.html" %}


	<!-- <img src="{% static 'pes/img/football2.jpg' %}" class="img-fluid w-100 h-auto" alt="Responsive image"> -->
	{% include "pes/includes/messages.html" %}
	<div class ="row justify-content-md-center">
		<div class ="col-md-4">
			<!-- <img src=" {{curr_player.logo.url }} " class ="circle float-right" width =100   height=100 ></img>	 -->

		</div>
		<div class ="col-md-6">

		<h1 style ="color: #5d6263">ADD MATCH</h1>
		</div>
		<div class ="col-md-5"></div>
</div>

	<div >
	<div class="card  text-white bg-secondary  mb-3 border-info " style="width: 50%;position:fixed;top: 25%;left: 25%;">
  	<div class="card-body -center">
   
      <div  class ="-center" style="width:100%; ">
        <form method="POST" >
					{% csrf_token %}
					<!-- {% for field in form %}
					<div class="form-group">
					{{ field }}
					</div>
 					{% endfor %} -->
 					 
 					<div class="form-row">
					    <div class="form-group col-md-6">
					    	<label>Player 1</label>
					      {{ form.player1 }}
					    </div>
					    <div class="form-group col-md-6">
					    	<label>Player 2</label>
					     {{ form.player2 }}
					    </div>
					 </div>
					 <div class="form-row">
					    <div class="form-group col-md-6">
					    	<label>Goal by P1</label>
					      {{ form.GS_by_1 }}
					    </div>
					    <div class="form-group col-md-6">
					    	<label>Goal by P2</label>
					     {{ form.GS_by_2 }}
					    </div>
					 </div>
					 <div class="form-row">
					    <div class="form-group col-md-6" >
					    	<label>Password</label>
					      {{ form.pin }}
					    </div>
					    {% if iseditform %}
 					 	
					    <div class="form-group col-md-6">
					    	
					    	<label>Match ID</label>
					    	
					      {{ form.MID }}
					    </div>
					  
					  {% endif %} 
					  </div>  
					<div class="form-row">
					<button class="btn btn-primary " style ="padding-left: : 40%" type="submit">{{title}}</button>
					</div>
	</form>
  </div>
  
  </div>
</div>
</body>